/* importação Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* topo do site*/

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

header .Container {
    margin: 0 auto;
}

.header__img {
    height: 48px;
    width: 48px;
    margin-top: 0.8rem;
    margin-left: 10px;
}

.Flex {
    display: flex;
    justify-content: space-between;
}

#checkbox {
    display: none;
}

.header__label {
    font-size: 3em;
    padding-right: 15px;
    width: 48px;
}

nav ul {
    list-style: none;
    background-color: #343534;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}

#checkbox:checked~ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
}

main {
    height: 75vh;
    background-image: url(./img/banner320);
    color: #FFF;
}

main .Container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 16px;
}

.main__title {
    font-size: 30px;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0 16px;
}

.main__text {
    font-size: 20px;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 60px;
}

.main__form {
    background-color: #FFFFFF;
    color: black;
    border-radius: 1rem;
    padding: 1.5rem;
}

.main__description {
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0 32px;
    font-size: 1.25rem;
}

.border-bottom {
    width: 100%;
    margin-bottom: 10px;
}

.btn.btn-secondary.btn-lg {
    margin-top: 10px;
    width: 100%;
}

@media (min-width: 576px) {

    .Container {
        max-width: 540px;
    }

    main {
        height: 75vh;
        background-image: url(./img/banner320);
        background-size: cover;
    }

    .main__form {
        max-width: 20.625rem;
    }
}

@media (min-width: 768px) {
    .Container {
        max-width: 720px;
    }

    main {
        height: 75vh;
        background-image: url(./img/banner768);
    }
}

@media (min-width: 992px) {
    .Container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .Container {
        max-width: 1140px;
    }

    header {
        height: 80px;
    }

    .header__label {
        display: none;
    }

    .header__nav .header__menu {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 0.5rem;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: #343538;
    }

    nav ul li a:hover {
        color: #c00000;
    }

    main {
        height: 75vh;
        background-image: url(./img/banner1440);
    }
}