/* smartphone Portrait */


/* smartphone Landscape */

@media (min-width: 576px) {
    /* body {
        background-color: brown;
    } */
}

/* tablet Portrait */

@media (min-width: 768px) {
    /* body {
        background-color: black
    } */
}


/* tablet Landscape */

@media (min-width: 992px) {
    /* body {
        background-color: #ff6600;
    } */
}

/* PC */

@media (min-width: 1200px) {
    /* body {
        background-color: #00ff5e;
    } */
}


